@import "../../styles/abstracts/all";

.recipeItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 28.5rem;

  min-width: 28rem;
  max-width: 28rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0px rgb(0 0 0 / 25%);
  overflow: hidden;

  @media (max-width: 620px) {
    flex: 19.5rem;
    min-width: 19.5rem;
    max-width: 90%;
  }

  @media (max-width: 480px) {
  }

  @media (max-width: 480px) {
    flex: 19.5rem;
    min-width: 19.5rem;
    max-width: 90%;
  }
  
  @media (max-width: 430px) {
    flex: 28.5rem;
    min-width: 10rem;
    max-width: 90%;
  }

  &__image {
    padding-top: 60%;
    background-color: grey;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    transition: all 0.7s linear;
  }

  &__image {
    padding-top: 60%;
    background-color: whitesmoke;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    transition: all 0.7s linear;
  }

  &:hover &__image {
    background-size: 108%;
  }

  &__link{
    text-decoration: none;
    color: #000;
  }
  
  &__info {
    padding: 1rem;

    & .healthNumbers {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: .8rem;

      &_item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.3rem;
        font-size: 1.2rem;
        font-weight: 500;

        & svg {
          font-size: 1.7rem;
        }
      }
    }

    & .healthLabels {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      margin: 1.5rem 0 1rem;

      &__tag {
        padding: 1rem;
        background-color: whitesmoke;
        border-radius: 5rem;
        font-family: Roboto;
        font-weight: 500;
        font-size: 1.1rem;
        cursor: pointer;
        @include user-select;

        background-color: rgba(#80ed99, .4);
        transition: all .2s linear;
        
        &:hover{
          box-shadow: 0px 0px 5px 0px rgba(#80ed99, .4);
        }
      }
    }

    &_servings {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  //Action buttons

  & .actions{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
      padding: 1rem;

      &_btn{
        min-width: 3rem;
        min-height: 3rem;
        border: none;
        background-color: transparent;
        border-radius: 5rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        & svg{
          font-size: 2rem;
        }
      }
    }
    
    & .btn_fav {
      color: rgb(255, 122, 145);
    }   
    
    & .btn_outlineFav{
    transition: all .1s linear;
    &:hover{
      color: rgb(255, 122, 145);
    }
  }
}
