.SidebarClose{
    animation: close .45s ease forwards;
}

.SidebarOpen{
    animation: open .45s ease forwards; 
}    

@keyframes open {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes close {
    0%{
        transform: translateX(0%);
        }
    100%{
        transform: translateX(100%);
    }
}