@import "../../styles/abstracts/all";

.container{
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 5px 0 8px 0px rgba(0,0,0,0.3);
    z-index: 99;

    @media (max-width: 768px){
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    @media screen and (max-width: 550px){
        gap: 1rem;
    }

    & .logo{
        width: 12rem;
        height: auto;

        @media screen and (max-width: 1100px){
            width: 10rem;
        }

        @media screen and (max-width: 550px){
            width: 6rem;
        }

        & img{
            object-fit: contain;
            width: 100%;
        }
    }

    & .search{
        position: relative;

        display: flex;
        justify-content: space-around;
        align-items: center;
        
        @media screen and (max-width: 550px){
            order: 3;
            width: 100%;
        }

        &_input{
            width: 35rem;
            max-width: 35rem;
            padding: 1.2rem 1.4rem;
            
            background-color: whitesmoke;
            border: transparent;
            border-radius: .5rem;
            transition: all .2s linear;
            box-shadow: 0px 0px 2px 0px rgba(164, 164, 164, 0.5);

            &:focus,
            &:hover {
                outline: none;
                box-shadow: 0px 0px 7px 0px rgba(164, 164, 164, 0.7);
            }

            @media (max-width: 550px) {
                width: 100%;
                max-width: 100%;
            }

        }

        &_btn{
            display: flex;
            justify-content: center;
            align-items: center;

            height: 3.8rem;
            width: 4rem;
            border: none;
            margin-left: -4rem;
            cursor: pointer;
            background-color: transparent;

            & svg{
                transition: all .2s linear;
            }

            &:hover svg{
                font-size: 1.5rem;
            }

            &:focus {
                outline: none;
            }
        }
    }

    & .user{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include user-select;

        & .authentication{
            display: flex;
            gap: 1.5rem;

            &_login{
                border: none;
                background: transparent;

                &:hover{
                    text-decoration: underline;
                }

                @media  (min-width: 550px) and (max-width: 650px){
                    display: none;
                }
            }
            
            &_login,
            &_signup{
                font-size: 1.4rem;   
                cursor: pointer;
                
                @media (max-width: 550px) {
                    font-size: 1.2rem;
                }
            }
            
            &_signup{
                padding: 1.2rem 1.6rem;
                color: white;
                
                background-color: orange;
                border: none;
                border-radius: 3rem;
                transition: all .2s linear;
                
                &:hover {
                    box-shadow: 0px 0px 7px 0px rgba(255, 165, 0, 0.4);
                }

                @media  (min-width: 550px) and (max-width: 650px){
                    font-size: 1.3rem;
                    padding: 1rem 1.2rem;
                }

                @media (max-width: 550px) {
                    padding: 1rem 1.2em;
                    font-size: 1.2rem;
                }
            }
        }

        &_account{
            display: flex;
            align-items: center;
            gap: 2rem;

            & .favories{
                display: flex;
                align-items: center;
                justify-content: center;

                width: 3.5rem;
                height: 3.5rem;

                background-color: transparent;
                border: none;
                border-radius: 3rem;
                cursor: pointer;

                & svg{
                    font-size: 2rem;
                    color: #000;
                }

                @media (max-width: 768px){
                    display: none;
                }
            }

            & .userProfile{
                position: relative;

                display: flex;
                align-items: center;
                gap: .7rem;

                cursor: pointer;
                
                &_icon{
                    font-size: 2rem;
                }

                &_name{
                    font-size: 1.6rem;

                    @media (max-width: 768px){
                        display: none;
                    }
                }

                &_uparrow,
                &_downarrow{
                    font-size: 2.5rem;
                    margin-top: 0.4rem;
                    margin-left: -1rem;
                }

                // dropdown menu
                & .menu{
                    position: absolute;
                    top: 5rem;
                    right: .5rem;
                    
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: .3rem;
                    
                    width: 15rem;
                    padding: 1rem .5em;
                    margin: 0;
                    
                    list-style: none;
                    background-color: #fff;
                    border-radius: .5rem;
                    box-shadow: 0 0 5px 0px rgba(0,0,0,0.3);

                    &_item{
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        width: 100%;
                        font-size: 1.4rem;
                        padding: .5rem;

                        border-radius: .6rem;
                        transition: all .2s linear;

                        &:hover{
                            background-color: whitesmoke;
                        }

                        & svg{
                            font-size: 2rem;
                        }

                        & a{
                            @include flex($align: center, $gap: 1rem);
                            color: black;
                            text-decoration: none;
                            width: 100%;
                        }
                    }

                    & .fav{
                        @media (min-width: 768px){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}